.DS_Store
node_modules
lerna-debug.log
package-lock.json
**/sdk/lib
**/chroma/lib
**/*/main
**/*/dist
**/*/bin
**/*/build
**/*/.next
coverage
.nyc_output
yarn-error.log
.env
.env.local
.env.rinkeby
.env.build
.poosh.cache

.idea
.vscode
.cache

/dist
.vercel

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*