.DS_Store
node_modules
lerna-debug.log
package-lock.json
**/sdk/lib
**/graphql-sdk/lib
**/chroma/lib
**/*/main
**/*/dist
**/*/bin
**/*/build
**/*/.next
coverage
.nyc_output
yarn-error.log
.env*.local
.poosh.cache

.idea
.vscode
.cache

/dist
.now
