a {
  cursor: pointer;
}

.main-instruct h1,
.main-instruct h2,
.token-area h1,
.token-area h2 {
  font-variant: all-petite-caps;
  font-weight: bold;
  padding: 16px;
  border-bottom: 1px solid rgb(238, 238, 238);
  color: rgb(102, 102, 102);
  align-items: center;
  display: flex;
  justify-content: center;
}

.mining-area hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 50px 0 0;
}

.mining-area h3 a {
  color: #00eb87;
}

.mining-area > p {
  padding: 10px 25px;
}

.token-area table {
  width: 90%;
  margin: auto;
  font-variant: all-petite-caps;
}

.token-area table tr {
  height: 50px;
}

.token-area table a {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  cursor: pointer;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px 1px inset;
  background-image: none !important;
  padding: 8px 12px;
  margin: 8px;
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.token-area td[colspan='2'] {
  color: red;
}

.token-area table input {
  width: 20%;
}

.token-area table strong {
  margin: 0 10px;
  font-weight: bold;
}

.token-area table td {
  width: 50%;
}

.center-div {
  margin: 40px auto 10px;
  width: 300px;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  border-radius: 25px;
  margin: 30px;
}

.chip img {
  float: left;
  margin: 15px 10px 0 -25px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.chip h2 {
  font-weight: bold;
}

.token-area ~ div {
  background-color: #ffffff;
  padding-bottom: 20px;
  margin: 30px 0;
}

.chip h2,
.chip p {
  width: 70%;
  margin: 10px auto;
}

.chip p {
  text-align: justify;
  color: #333;
}

.gas-info {
  min-width: 60%;
  max-width: 70%;
  display: inline-block;
  text-align: right;
}

.gas-info a {
  padding: 4px 10px;
  display: inline-block;
  color: #fff;
  background-color: #09ed59;
  border-radius: 3px;
  margin: 0px 10px;
}

.gas-info input {
  border-radius: 5px;
  padding: 5px;
}

.gas-info strong {
  margin: 0px 10px;
  font-weight: bold;
}

.help-tip {
  display: inline-block;
  top: 18px;
  right: 18px;
  text-align: center;
  background-color: #ccc;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 24px;
  height: 24px;
  font-size: 14px;
  cursor: pointer;
  line-height: 26px;
  margin: 0 0 0 5px;
}

.help-tip:before {
  content: '?';
  font-weight: bold;
  font-variant: initial;
  color: #ffffff;
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1e2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1e2021;
  left: 10px;
  top: -12px;
}

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.imgStyle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.info-lbl {
  display: inline-block;
  min-width: 30%;
}

.instruct-div {
  display: inline-flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 70%;
}

.instruct-heading {
  display: inline-block;
  font-weight: bold;
}

.instruct-img {
  display: inline-flex;
  width: 20%;
}

.instruct-p {
  display: inline-block;
}

.main {
  display: inline-flex;
  flex-direction: row;
}

.main-instruct {
  margin: 20px;
  display: inline-flex;
  background-color: #ffffff;
  flex-direction: column;
  width: 60%;
}

.mining {
  padding: 8px 0 0;
}

.mining ol li {
  margin: 30px 0;
}

.mining-area {
  background-color: #fff;
  padding: 0 0 60px;
  font-variant: all-petite-caps;
}

.mining span {
  font-weight: bold;
}

.primary-btn {
  min-width: 200px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 18px;
  border: 0px;
  box-shadow: 0px 0px 0px transparent;
  font-size: 20px;
  width: 300px;
  text-align: center;
  display: inline-block;
}

.progress {
  margin: 10px 0px;
  padding: 4px 8px;
  text-align: right;
  transition: all 0.5s linear;
}

.success {
  text-align: justify;
  padding: 60px 50px;
}

.success a {
  color: #000000;
  display: inline-block;
  padding: 15px 35px;
  margin: 0 5px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px 1px inset;
  background-image: none !important;
  margin: 8px;
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.success a:first-child {
  background-color: #ffffff;
  color: #000000;
}

.success a:nth-child(2) {
  background-color: #000000;
  color: #ffffff;
}

.success div {
  margin: 60px 0 5px;
  text-align: center;
}

.success li {
  margin: 35px 0;
}

.success ol {
  padding: 0 18px;
}

.token-area {
  width: 40%;
  display: inline-block;
}

.token-area ~ div {
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .main-instruct h1,
  .token-area h1 {
    font-size: 22px;
  }
  .main-instruct h2,
  .token-area h2 {
    font-size: 19px;
  }
  p {
    width: 100%;
  }
  .main {
    flex-direction: column-reverse;
  }
  .token-area {
    margin: 5px;
  }
  .main-instruct,
  .token-area {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .chip h2,
  .chip p {
    width: 100%;
    margin: 0;
  }

  .chip h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
  }
}

@media only screen and (min-width: 1600px) {
  .main {
    padding: 10px 300px 50px;
  }
}
