{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": { "node": "current" }
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-flow-strip-types", "transform-object-rest-spread"]
}
